# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Devcontainer local state
.devcontainer/.env
.devcontainer/.cache

# Node / PHP (if used)
node_modules/
vendor/

# Logs
*.log

# Secrets
.env
